<div class="sidebar">
	{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
	<h3>{{@blog.title}}</h3>
	<p>{{@blog.description}}</p>

	<ul>
		<li class="blog-button"><a href="{{@blog.url}}">Blog</a></li>
		<li><a href="{{@blog.url}}">Resume</a></li>
		<li><a href="{{@blog.url}}">About Me</a></li>
		<li><a href="{{@blog.url}}">Contact</a></li>
	</ul>

	<a icon="class-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</div>